@charset "UTF-8";

 * {padding:0; margin:0;}
 
body {
    align-content: center;
}
nav {
	z-index: 100;
	margin:auto;
	text-align: center;
}
.chartlist {
	display: inline-block;
   	font-size:18px;
   	padding: 10px;
   	text-align: center;
   	/*border: 2px dashed red;*/
}
	
.chartlist li {
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	vertical-align:top;
}

a {
	text-decoration:none;
	color: black;
}
a:visited {
	text-decoration:none;
	color: black;
}