@charset "UTF-8";

 * {padding:0; margin:0;}

body {
	background-color: #244e80;
	color: white;
}

#left_lecture {
  float: left;
  display: inline-block;
}

#right_console {
	background-color: rgb(30,40,60);
	float: right;
	position:fixed;
	right: 0;
	display: inline-block;
}

#in_lecture {
	padding: 8px;
}

#in_console {
}

#console_nav {
	display: block;
	background-color: gray;
	padding: 3px;
}

#console_iframe {
	width: 100%;
	height: 100vh;
}

a {
	text-decoration:none;
	color:white;
}

a:visited {
	text-decoration:none;
	color: white;
}