@charset "UTF-8";

 * {padding:0; margin:0;}

body {
	background-color: #244e80;
	color: white;
	/*border: 2px dashed red;*/
	padding-top: 50px;
}

#left_lecture_list{
	display: inline-block;
	position:absolute;
	left:2%;
	border: 2px solid rgba(255, 255, 255, 0.2);
	width:30%;
}

#right_lecture {
	display: inline-block;
	position:absolute;
	right:2%;
	width: 60%;
	padding: 2px;
}

table, td {
	border-collapse: collapse;
}

#fold {
	 display: inline-block;
	 position: relative;
	 right: 0;
	 width: 5%;
	 height: 100%;
}

#fold_td {
	background-color: rgba(255,255,255, 0.2);
	margin:0;
	padding-left: 3px;
	padding-right: 3px;
}

.lecture_list li {
	margin-bottom: 17px;	
	font-size: 17px;
	list-style: none;
}

ul > ul {
	text-indent: 50px;
}

.lecture_list {
	display: inline-block;
	position:relative;
	left:0;
	padding: 5px;
	/*width: 70%;
	border: 2px dashed red;*/
}

h1 {
	 font-size: 20px;
	 margin-bottom: 8px;
}