@charset "UTF-8";

 * {padding:0; margin:0;}

body {
	background-color: #244e80;
	color: white;
}

#left_lecture {
  float: left;
  display: inline-block;
}

#right_console {
	background-color: #204a76; 
	float: right;
	display: inline-block;
}

#in_lecture {
	padding: 8px;
}

#in_console {
	padding: 8px;
}

#console_nav {
	display: block;
	background-color: gray;
}